<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- PLUGINS: -->
    <type name="Magento\OfflineShipping\Model\Carrier\Freeshipping">
        <plugin name="mageworx_validate_subtotal_with_discount" type="MageWorx\FreeShippingWithDiscount\Plugin\FreeShipping"/>
    </type>
</config>